.form-errors {
  color: red;
  margin: 0 auto;
}

.react-layout-components--box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.form {
  background-color: #F5F5DC;
  text-align: center;

}
.email,
.password,
.submit-button {
  display: block;
  margin: 0 auto;
}
.form-section,
.form-submit {
  padding: 1em;
}

#footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  background-color: #6a877b;
}
.social-icon {
  height: auto;
  width: 5%;
}
@media only screen and (max-width: 600px) {
  .social-icon {
    height: auto;
    width: 7%;
  }
}
